@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
body {
  margin: 0;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: sticky;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  /* background-image: url("https://images.unsplash.com/photo-1500740516770-92bd004b996e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2704&q=80"); */
  background-color: #b3cdd1;

  background-size: cover;
  background-color: #afcae9;
}
main {
  min-height: 100vh;
  min-width: 100vh;
}

/* Search component */

.HeadSearech {
  position: relative;
  top: 20px;
  width: 70%;
  left: 30%;
}
.input-search {
  float: none;
  background-color: #ffffff;
  color: rgb(22, 13, 13);
  padding: 7px;
  margin-left: 3px;
  width: 67%;
  position: relative;
  border: none;
  margin-left: 3px;
  border-radius: 6px;
  margin-top: 1px;
  margin-right: 8px;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
}

.input-search::placeholder {
  color: rgb(3, 3, 3);
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.search-list {
  position: relative;
  float: none;
  background-color: transparent;
  position: absolute;
  width: 67%;
  left: 2px;
  text-align: left;
  margin-top: 4px;
  z-index: 999;
  cursor: default;
  -webkit-user-select: none;
  background-color: white;
  border-radius: 0 0 14px 14px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.search-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 24px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  padding-bottom: 4px;
  overflow: hidden;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.suggeste {
  display: flex;
  align-items: center;
  min-width: 0;
  max-height: none;
  padding: 0;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.suggesteCh {
  flex: auto;
  display: flex;
  margin: 0 20px;
  align-items: center;
  margin: 0 20px 0 14px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.searchItem {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-width: 0;
  max-height: none;
  padding: 6px 0;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.searchRes {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-width: 0;
  max-height: none;
  padding: 6px 0;
  cursor: pointer;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
span {
  flex: auto;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul {
  list-style-type: disc;
}

/* Add and copy component */

.buton {
  display: inline-block;
  position: relative;
  left: 33%;
  margin: 10px;
  margin-bottom: -30px;
  transition: width 2s;
}

/* Favourites components */

.favourite {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 0;
  width: auto;
  height: 43px;
  width: 15%;
  margin: 20px;
  margin-top: 30px;
  margin-left: -10px;
  border-radius: 6px;
  padding: 5px 15px;
  color: #ffffff;
  background-image: linear-gradient(115deg, #1f2024 54%, #e4c76b 0%);
  font-size: 20px;
  font-weight: 500;
  font-family: Franklin Gothic Medium;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 990;
}

.scrollbar {
  background-color: rgba(73, 101, 151, 0.7);
  height: auto;
  font-size: 1vw;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(189, 187, 187, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px rgba(14, 44, 100, 0.4);
  font-size: 20px;
  transition: 0.4s ease;
}

.scroll {
  margin-top: 15px;
}
.star {
  margin-bottom: -10px;
  margin-top: -25px;
  width: 99%;
}

/* Weather compontents */
.info-box {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 300px;
  left: 12%;
  margin-left: 1%;
  top: 40px;
  border-radius: 16px;
  padding: 5px 15px;
  color: #fdfdfd;
  background-image: linear-gradient(315deg, #1f2024 34%, #a7c9f7 80%);
  font-size: 2vw;
  font-weight: 700;
  text-shadow: 1px 2px rgba(12, 12, 17, 0.5);
  text-align: center;
  -webkit-box-shadow: 3px 3px 16px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 16px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 16px 10px rgba(0, 0, 0, 0.75);
}

.weather-container {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
}

.leftSideContainer {
  position: absolute;
  top: -70px;
  left: -15%;
  width: 30%;
  height: 200%;
  border-radius: 25px;
  background-image: url(https://images.unsplash.com/photo-1550236520-7050f3582da0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: calibri;
  transition: all ease-in-out 0.956s;
  transform: translateZ(500px) perspective(500px) scale(1.04);
  -webkit-transform: translateZ(500px) perspective(800px) scale(1.04);
  -o-transform: translateZ(500px) perspective(800px) scale(1.04);
  box-shadow: 0 0 8px -1px #262626;
  -webkit-box-shadow: 0 0 8px -1px #262626;
  border: none;
  float: left;
  transition: all cubic-bezier(0.34, 0.85, 0.35, 0.86) 0.45s;
  z-index: 900;
}

.leftSideContainer:hover {
  transform: translateZ(500px) scale(1.08) perspective(20000px) rotateY(10deg) !important;

  -webkit-transform: translateZ(500px) scale(1.08) perspective(20000px)
    rotateY(10deg) !important;
  box-shadow: 0 0 30px -1px #262626 !important;
  -webkit-box-shadow: 0 0 30px -1px #262626 !important;

  transform-style: preserve-3d !important;
}
.flag-box {
  position: sticky;
  float: left;
  right: 45%;
  margin: 30px auto;
  margin-right: 20px;
  border-radius: 16px;
  padding: 5px 25px;
  color: #ffffff;
  font-size: 2em;
  font-weight: 700;
  text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
  text-align: left;
}

.weather-extra {
  font-size: 15px;
  font-weight: 500;
  font-family: Segoe UI;
  padding: 5px 15px;
  margin: 5px auto;
  transition: all ease-in-out 0.24s;
  -webkit-transition: all ease-in-out 0.24s;
  transform-style: preserve-3d;
}
.weather-extra:hover {
  transform: translateX(20px) perspective(200px);
  -webkit-transform: translateX(20px) perspective(200px);
}

.weather-extra-countryName {
  position: relative;
  color: #fdfdfd;
  font-family: Segoe UI;
  width: 70%;
  left: 20%;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 1px 2px rgba(50, 50, 70, 0.8);
}
.weather-city-name {
  display: flex;
  position: relative;
  left: 20%;
  transform-style: preserve-3d;
  font: 900 4vw chilanka, segoe script, purisa, comic sans ms, cursive;
}

.weather-description {
  position: relative;
  left: 20%;
  font-size: 3rem;
  font-weight: 900;
}
.weather-extra2 {
  position: relative;
  left: 20%;
  font-size: 20px;
  width: 80%;
}
.countray-flag {
  width: auto;
  height: 150px;
  margin-top: 34px;
  margin-bottom: 5px;
  border-radius: 16px;
  -webkit-box-shadow: 5px 5px 16px 10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 5px 5px 16px 10px rgba(255, 255, 255, 0.75);
  box-shadow: 5px 5px 16px 10px rgba(255, 255, 255, 0.75);
}
.degree {
  margin-top: -30px;
  font-size: 4em;
  font-weight: 900;
}
/* Forecast component */
.forecast-box {
  position: relative;
  display: inline-block;
  top: 55px;
  bottom: 30px;
  width: 138px;
  left: 27%;
  margin: 20px;
  margin-left: 0;
  background-color: #5c595779;
  border-radius: 16px;
  padding: 5px 15px;
  color: #fdfdfd;
  font-size: 1vw;
  font-weight: 700;
  background-image: linear-gradient(315deg, #a7c9f7 0%, #1f2024 74%);
  text-shadow: 1px 1px rgba(11, 11, 126, 0.5);
  text-align: center;
  -webkit-box-shadow: 2px 2px 10px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 10px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 10px 7px rgba(0, 0, 0, 0.75);
}

.forecast-box:hover {
  transform: translateZ(500px) scale(1.08) perspective(20000px) rotateY(10deg) !important;
  background-color: #6d7070;
  -webkit-transform: translateZ(500px) scale(1.08) perspective(20000px)
    rotateY(10deg) !important;
  box-shadow: 0 0 30px -1px #262626 !important;
  -webkit-box-shadow: 0 0 30px -1px #262626 !important;

  transform-style: preserve-3d !important;
}
.cards {
  position: relative;
  top: 50px;
}

.Notifi {
  position: absolute;
  left: 33%;
  top: 15%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 34%;
  height: auto;
  border-radius: 6px 6px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  z-index: 999;
}
.NotifiHeader {
  color: whitesmoke;
  text-align: left;
  background-color: #d9534f;
  font-size: 20px;
  font-weight: 500;
  font-family: monospace;
}
.Notifi:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.message {
  margin: 5%;
  position: relative;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.cityName {
  color: rgb(158, 3, 3);
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

.card {
  /* background-color: #5b8fde; */
  border-radius: 36px;
  padding-top: 20px;
  margin: 20px;
  width: fit-content;
  position: absolute;
  left: 12%;
  background-color: rgba(0, 0, 0, 0.308);
  -webkit-box-shadow: 3px 3px 16px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 16px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 16px 10px rgba(0, 0, 0, 0.75);
  border: none;
}
