body {
  left: 50%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: sticky;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  background-image: url("./assets/2.jpg");
  background-size: cover;
}
main {
  min-height: 100vh;
  min-width: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.658),
    rgba(131, 125, 125, 0.2)
  );
}

.search-box {
  margin: auto;
  padding: 40px;
  width: 100%;
}
button {
  margin: 10px;
  margin-bottom: -30px;
}
.star {
  position: absolute;
  left: -5px;
  margin-top: 105px;
  margin-left: 5px;
  padding: 0px 60px;
  border-radius: 10px;
  color: rgba(8, 8, 6, 0.5);
}

.search-box .search-bar {
  display: inl;
  width: 50%;
  padding: 10px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  margin-top: -10px;
  margin-right: 20px;
  box-shadow: 0px 3px rgba(163, 101, 101, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.weather-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.info-box {
  position: relative;
  display: inline-block;
  width: 40%;
  left: 0px;
  margin: 0px;
  margin-left: -10px;
  background-color: rgba(21, 37, 24, 0.8);
  border-radius: 16px;
  padding: 5px 15px;
  color: #fdfdfd;
  font-size: 2vw;
  font-weight: 50;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.location-box .location {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px rgba(21, 37, 24, 0.8);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  margin-right: 20px;
  background-color: rgba(21, 37, 24, 0.8);
  border-radius: 16px;
  padding: 5px 25px;
  color: #ffffff;
  font-size: 4vw;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather {
  color: #fff;
  font-size: 3vw;
  font-weight: 400;
  text-shadow: 3px 3px rgba(50, 50, 70, 08);
}

.weather-extra {
  color: #fdfdfd;
  font-family: Segoe UI;
  font-size: 1vw;
  font-weight: 600;
  text-shadow: 1px 2px rgba(50, 50, 70, 0.8);
}
.weather-extra-countryName {
  color: #fdfdfd;
  font-family: Segoe UI;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 1px 2px rgba(50, 50, 70, 0.8);
}
.forecast-box {
  position: relative;
  display: inline-block;
  top: 20px;
  bottom: 30px;
  width: 180px;
  left: 12px;
  margin: 30px;

  margin-left: 0px;
  background-color: rgba(21, 37, 24, 0.8);
  border-radius: 16px;
  padding: 5px 15px;
  color: #fdfdfd;
  font-size: 2vw;
  font-weight: 50;
  text-shadow: 1px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.favourite {
  position: absolute;
  display: inline-block;
  right: 0;
  width: auto;
  height: 43px;
  width: 15%;
  margin: 20px;
  margin-top: 30px;
  margin-left: -10px;
  border-radius: 0 16px;
  padding: 5px 15px;
  color: #fdfdfd;
  font-size: 20px;
  font-weight: 500;
  font-family: Franklin Gothic Medium;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.favourite:hover {
  border-radius: 16px 0;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.scrollbar {
  background-color: rgba(73, 101, 151, 0.7);
  height: auto;
  font-size: 1vw;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(189, 187, 187, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px rgba(14, 44, 100, 0.4);
  font-size: 20px;
  transition: 0.4s ease;
}
/* style flag */
.flag-box {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 5px 25px;
  color: #ffffff;
  font-size: 3vw;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.countray-flag {
  width: 140px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.upper {
  display: flex;
  flex-direction: row;
}

.scroll {
  margin-top: 10px;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
.search-bar2 {
  width: 60%;
}

.input-search {
  float: none;
  background-color: transparent;
  color: white;
  padding: 6px 10px;
  width: 120px;
  border: none;
  margin-left: 16px;
  border-radius: 0 16px;
  background-color: rgba(252, 252, 252, 0.2);
  margin-top: 1px;
  margin-right: 8px;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;

  transition: 0.3s;
}

.input-search::placeholder {
  color: whitesmoke;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* transition: 0.2s; */
}

.input-search:focus {
  border-radius: 16px 16px 0 0;
  width: 600px;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
  color: #fff;
  outline: none;
  background-color: rgba(252, 252, 252, 0.2);
  border-bottom: white solid 2px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}

.search-list {
  float: none;
  position: absolute;

  left: 464px;
  width: 600px;
  text-align: left;
  margin-top: 4px;
  z-index: 989;
  cursor: default;
  -webkit-user-select: none;
  background-color: white;
  border-radius: 0 0 24px 24px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.search-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 24px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;

  padding-bottom: 4px;
  overflow: hidden;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.suggestion {
  flex: auto;
  padding-bottom: 16px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.suggeste {
  display: flex;
  align-items: center;
  min-width: 0;
  max-height: none;
  padding: 0;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.suggesteCh {
  flex: auto;
  display: flex;
  margin: 0 20px;
  align-items: center;
  margin: 0 20px 0 14px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.searchIcon {
  background: url(/images/searchbox/desktop_searchbox_sprites302_hr.webp)
    no-repeat 0 0;
  background-size: 20px;
  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.searchRes {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-width: 0;
  max-height: none;
  padding: 6px 0;
  cursor: pointer;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.searchItem {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-width: 0;
  max-height: none;
  padding: 6px 0;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
span {
  flex: auto;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul {
  list-style-type: disc;
}

.logo {
  width: 100%;
  height: 100%;
  background-color: rgba(163, 101, 101, 0.2);
}

.Notifi {
  position: absolute;
  left: 35%;
  top: 15%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  height: auto;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
}
.NotifiHeader {
  color: whitesmoke;
  text-align: left;
  background-color: #d9534f;
  font-size: 20px;
  font-weight: 500;
  font-family: monospace;
}
.Notifi:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.message {
  margin: 5%;
  position: relative;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.cityName {
  color: rgb(158, 3, 3);
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}
.wiki {
  color: rgb(0, 0, 156);
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}
.popup {
  width: 400px;
}
